<div class=top>
  <div class=top_title>
    <div class=top_title_container>
        <img src="/assets/home.jpg" width="200"class="rounded mx-auto d-block" alt="homepicture">
      <h3 class=h3_title>お気に入りの珈琲が見つかる検索サイト</h3>
      <h1 class=h1_title>テスト123
      </div>
      </div>
<みっ>